@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to a simple CRUD template</h1>
    <p>CRUD stands for create, read, update, and delete</a>.</p>
</div>
